.context {
    width: auto;
    text-align: center;
    background-color: rgb(171, 99, 244);
    margin-top: 40px;
    
    padding:40px;

    align-content: center;
}
@font-face {
    font-family: NetFont;
    src: url("/fonts/8bitOperatorPlus8-Bold.ttf");
}
.controversy{
    font-family: NetFont;
}
.header{
    width: 100%;
    height: auto;
    margin: auto;
    
}

.bodyimage{
    width: auto;
    
    height: auto;
    margin-top: 40px;
}


.experience {
    width: auto;
    text-align: center;
    background-color: greenyellow;
    margin-top: 40px;
    
    padding:40px;

    align-content: center;

    background-image: url("assets/clubpenguin background.jpg");
    background-size: cover;

    border: solid;
    border-width: 10px;
    border-color: blue;
    background-blend-mode: hue;
    
}

p{
    border-style: dotted;
    padding: 20px
}

.funkysubhead{
    border: dashed;
    margin: auto;
    padding: 40px;
    color: pink;
    -webkit-text-fill-color: magenta;
}

body {
    background-color: pink;
    

    width: 100%;
    height: 100%;

}

h1 {
    text-align: center;
    width: auto;
    color: red
}

ul {
    border: solid;
    padding: 20px;
    list-style-type: none;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px
    
}

a{
    text-align: center;
    text-decoration: none
}

span{
    color: aqua
}

body{
    background-image: url("assets/fantage enviornment.jpg");
}

.rickrolled {
    background: linear-gradient(blue, pink, greenyellow);
    color: aliceblue;
    font-size: 10px;

    width: 50vw;

    padding: 50px;

    margin: 10px;
    border:solid;
    border-color:blueviolet;

}

.broken{
    color:aliceblue;
    font-size: 100px;
    font-family: NetFont;
}

.overlaid{
    position:relative;
    display:inline;

}

.ye{
    position:absolute;

}

.ascii{
    background:radial-gradient(blue, red);
    color:beige
}

.video{
    border: dotted;
    border-color: black;
    padding: 100px;
    background-image: url("assets/kanye.gif");
}